@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "styles/variables";

html {
  @include media-breakpoint-down(xl) {
    font-size: 130%;
  }

  @include media-breakpoint-down(md) {
    font-size: 100%;
  }

  @include media-breakpoint-down(sm) {
    font-size: 80%;
  }
}

.container {
  margin-top: 5rem;
}

.row {
  &:not(:last-child) {
    margin-bottom: 3rem;
    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }
  }
}


.action-buttons {
  margin: auto 0 !important;
  @include media-breakpoint-down(sm) {
    :first-child {
      margin-top: 1rem;
    }
  }
}